*{
    margin: 0;
    padding: 0;
}

.background{
    min-height: 100vh!important;
    min-width: 100%!important;
    background-image: url(/img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    animation: slide 40s linear infinite 0s;
    animation-timing-function: step-end ;
    overflow: hidden;   
    position: fixed;
}

@keyframes slide{
    0%{
        background-image: url(/img/2.jpg);
    }

    25%{
        background-image: url(/img/3.jpg);
    }

    50%{
        background-image: url(/img/4.jpg);
    }

    75%{
        background-image: url(/img/5.jpg);
    }
    100%{
        background-image: url(/img/1.jpg);
    }

}

.glass{

    background-color: white;
    min-height: 80vh!important;
    min-width: 30%!important;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(1rem);
    position: fixed;
    border-radius: 1rem;

}

.logo{
    height: 8rem;
    width: 8rem;
}

.text-input{
    padding: 1.5rem!important;
    min-width: 80%!important;
    border-radius: 3rem!important;
}

@media screen and (max-width: 700px){

    .glass{
        position: fixed;
        height: 100vh!important;
        width: 100%!important;
        border-radius: 0;
    }

}